.header {
    height: 120px;
    background-color: #dc5e49;
}
.hidden {
    display: none;
}
.bar-wrapper {
    margin-top: 15px;
    padding-left: 10px;
    right: 10px;
}
.drink-wrapper {
    margin-top: 15px;
    margin-left: 20px;
}
.login{
    background-image: url("../img/home2bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.custom-icon{
    margin-left: 10px;
}
.bar-edit-btn, .drink-edit-btn, .bar-delete-btn, .drink-delete-btn {
    color: white !important;
}
.app-header {
    background-color: #DB7A6A !important;
}
.users-table {
    margin-top: 15px;
}